.data-table {

    width:100%;

    border-collapse: collapse;

}


.data-table th,
.data-table td {

    padding:12px;

    text-align:left;

    border-bottom:1px solid #ddd;

}


.data-table th {

    font-weight:bold;

}