.stats-grid {

    display:grid;

    grid-template-columns:
        repeat(4,1fr);

    gap:
        20px;

    margin-bottom:
        30px;

}

.inventory-stats {

    grid-template-columns:
        repeat(3,1fr);

}

@media(max-width:900px){


    .stats-grid {

        grid-template-columns:
            repeat(2,1fr);

    }

}



@media(max-width:600px){


    .stats-grid {

        grid-template-columns:
            1fr;

    }

}