.main{

    display:flex;

    min-height:100vh;

}

.content{

    flex:1;

    padding:30px;

}

.section{

    margin-top:30px;

}

@media(max-width:768px){


    .main {

        flex-direction:
            column;

    }


    #sidebar {

        width:
            100%;

    }


}