RewriteEngine On


# Do not rewrite existing files
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]


# Send API requests to Slim
RewriteRule ^ api.php [QSA,L]